[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.image {
    max-width: 800px;
    max-height: 600px;
    min-width: 160px;
    min-height: 120px;
    width: 100%;
    height: auto;
}

.md-list-item-text {
    outline: 0;
    width: 100%;
}

.md-list-item-text:hover {
    color: rgb(83,109,254);
}

.md-list-item-text.selected {
    color: white;
    background-color: rgb(83,109,254);
    box-shadow:0 1px 3px 0 rgba(0,0,0,.2);
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
